@using QuickActions.Common.Data;
@using WorkTimer.Common.Definitions;
@using WorkTimer.Common.Models;

<PageTitle>@PageTitle</PageTitle>

<div class="page-container d-flex flex-column h-100">
    @if (!HideNavbar)
    {
        <nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
            <a class="navbar-brand" href="#">Work Timer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Информация</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Для сотрудников
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Календарь</a>
                            <a class="dropdown-item" href="#">Моя статистика</a>
                        </div>
                    </li>
                    @if (CurrentUser?.Role == UserRole.Admin)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Для администраторов
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Сотрудники</a>
                                <a class="dropdown-item" href="@Pages.Statistic.GetUrl()">Статистика</a>
                                <a class="dropdown-item" href="#">Отчеты</a>
                            </div>
                        </li>
                    }
                </ul>

                <a class="nav-link ms-auto" href="@Pages.Logout.GetUrl()">Выйти</a>
            </div>
        </nav>
    }
    @if (!IsLoading)
    {
        <div class="page-body h-100">@Content</div>
        <div class="page-footer">@Footer</div>
    }
    else
    {
        <div class="page-body h-100">
            <div class="spinner-grow text-primary form-loading" />
        </div>
    }
</div>

@code {

    [CascadingParameter]
    public Session<User> CurrentSession { get; set; }

    [Parameter]
    public RenderFragment Content { get; set; }

    [Parameter]
    public RenderFragment Footer { get; set; }

    [Parameter]
    public bool HideNavbar { get; set; }

    [Parameter]
    public bool ShowTabs { get; set; }

    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public string PageTitle { get; set; }

    private User CurrentUser => CurrentSession?.Data;
}