<div class="page-container d-flex flex-column h-100">
    <div class="page-header">
        @Header
    </div>
    <div style="background-color: var(--bs-light);">
        @Subheader
    </div>
    @if (!IsLoading)
    {
        <div class="page-body h-100">@Content</div>
        <div class="page-footer">@Footer</div>
    }
    else
    {
        <div class="page-body h-100">
            <div class="spinner-grow text-primary form-loading"  />
        </div>
    }
    @if (ShowTabs)
    {
        <div class="page-tabs">
            <nav class="nav nav-pills justify-content-evenly">
                <div class="col-4">
                    <NavTab Label="Календарь" ImageUrl="/img/calendar.svg#icon" Link="@Pages.Calendar.GetUrl()" />
                </div>
                <div class="col-4">
                    <NavTab Label="Таймер" ImageUrl="/img/timer.svg#icon" Link="@Pages.Timer.GetUrl()" />
                </div>
                <div class="col-4">
                    <NavTab Label="Отчет" ImageUrl="/img/report.svg#icon" Link="@Pages.Report.GetUrl()" />
                </div>
            </nav>
        </div>
    }
</div>

@code {

    [Parameter]
    public RenderFragment Header { get; set; }

    [Parameter]
    public RenderFragment Subheader { get; set; }

    [Parameter]
    public RenderFragment Content { get; set; }

    [Parameter]
    public RenderFragment Footer { get; set; }

    [Parameter]
    public bool ShowTabs { get; set; }

    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnBackButtonClick { get; set; }

    [Parameter]
    public string Title { get; set; }
}