@page "/calendar"

@attribute [Authorize]

<PageLayout IsLoading="IsLoading" ShowTabs>
    <Header>
        <div class="d-flex flex-row justify-content-center p-3">
            <div class="page-title">
                Календарь
            </div>
        </div>
    </Header>
    <Content>
        <div class="p-3 spacing-3">
            <div class="calendar frame">
                <div class="calendar-header">
                    <span class="month-picker">@SelectedDate.Year</span>
                    <div class="year-picker">
                        <span class="year-change" @onclick="async _=> await AddMonth(-1)">
                            &lt;
                        </span>
                        <span>@SelectedDate.GetMonthName()</span>
                        <span class="year-change" @onclick="async _=> await AddMonth(1)">
                            &gt;
                        </span>
                    </div>
                </div>
                <div class="calendar-body">
                    <div class="calendar-week-day">
                        <div>Пн</div>
                        <div>Вт</div>
                        <div>Ср</div>
                        <div>Чт</div>
                        <div>Пт</div>
                        <div>Сб</div>
                        <div>Вс</div>
                    </div>
                    <div class="calendar-days">
                        @for (int i = 0; i < SelectedDate.GetDaysUntilNewMonth(); i++)
                        {
                            <div />
                        }
                        @{
                            for (int i = 0; i < DateTime.DaysInMonth(SelectedDate.Year, SelectedDate.Month); i++)
                            {
                                int j = i + 1;
                                <div class="@(SelectedDay.Day == j && SelectedDay.Month == SelectedDate.Month && SelectedDay.Year == SelectedDate.Year ? "selected-date" : "")" style="@(!MonthStatistic.ContainsKey(j) ? "pointer-events: none;" : "")" @onclick="async _ => await ShowDayInfo(j)">
                                    <div style="margin-left: .1rem">
                                        @(j)
                                    </div>
                                    @if (MonthStatistic.ContainsKey(j))
                                    {
                                        <CircleProgressBar Value="MonthStatistic[j]" Light="SelectedDay.Day == j && SelectedDay.Month == SelectedDate.Month && SelectedDay.Year == SelectedDate.Year" />
                                    }
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>

            @if (MonthStatistic.ContainsKey(SelectedDay.Day) && DayPeriods != null)
            {
                <div class="section-title">Периоды за @(new DateTime(SelectedDate.Year, SelectedDate.Month, SelectedDay.Day).HumanizeDate())</div>

                <div class="d-flex flex-row align-items-center"><div class="subsection-title me-1">Всего за день:</div>@(TimeSpan.FromHours((24 * MonthStatistic[SelectedDay.Day]) / 100).Humanize())</div>

                <div class="d-flex flex-row justify-content-between">
                    <div>
                        <b>Начало</b>
                    </div>
                    <div>
                        <b>Конец</b>
                    </div>
                </div>

                <div class="separator-horizontal" />

                @foreach (var period in DayPeriods)
                {
                    <div class="d-flex flex-row justify-content-between">
                        <div>
                            @period.StartAt.Humanize()
                        </div>
                        <div>
                            @period.EndAt.Humanize()
                        </div>
                    </div>

                    @if (DayPeriods.IndexOf(period) < DayPeriods.Count - 1)
                    {
                        <div class="separator-horizontal" />
                    }
                }
            }
        </div>
    </Content>
</PageLayout>