@page "/report"

@attribute [Authorize]

<PageLayout IsLoading="IsLoading" ShowTabs>
    <Header>
        <div class="d-flex flex-row justify-content-center p-3">
            <div class="page-title">
                Отчет
            </div>
        </div>
    </Header>
    <Content>
        <div class="spacing-3 p-3">
            <input class="form-control" type="month" @bind="SelectedMonth" max="@DateTime.Today.ToString("yyyy-MM")" />

            <div class="section-title">Часы за @SelectedMonth.GetMonthName() @SelectedMonth.Year</div>

            <div class="d-flex flex-row align-items-center"><div class="subsection-title me-1">Всего за месяц:</div> @(TimeSpan.FromHours(MonthStatistic.Sum(s => (24 * s.Value) / 100)).Humanize())</div>

            <div class="subsection-title">По дням:</div>
            <div class="separator-horizontal" />

            @{
                for (int i = 0; i < DateTime.DaysInMonth(SelectedMonth.Year, SelectedMonth.Month); i++)
                {
                    int j = i + 1;

                    <div class="d-flex flex-row justify-content-between">
                        <div>
                            @(new DateTime(SelectedMonth.Year, SelectedMonth.Month, j).HumanizeDate())
                        </div>
                        <div>
                            @if (MonthStatistic.ContainsKey(j))
                            {
                                @(TimeSpan.FromHours((24 * MonthStatistic[j]) / 100).Humanize())
                            }
                            else
                            {
                                @:Нет данных
                            }
                        </div>
                    </div>

                    @if (j < DateTime.DaysInMonth(SelectedMonth.Year, SelectedMonth.Month))
                    {
                        <div class="separator-horizontal" />
                    }
                }
            }
        </div>
    </Content>
</PageLayout>